<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Agencia_de_Viajes.Properties.Settings.IVIAJEConnectionString"
            connectionString="Data Source=DESKTOP-AESK9OQ\SQLEXPRESS;Initial Catalog=IVIAJE;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>